<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">hashtag_id</th>
        <th scope="col">hashtag_name</th>
        <th scope="col">view_count</th>
        <th scope="col">video_count</th>
        <th scope="col">is_commerce</th>
    </tr>
    </thead>
    <tbody>
    {% for i in all_objects_data %}
    <tr>
        <td>{{i.hashtag_id}}</td>
        <td>{{i.hashtag_name_id}}</td>
        <td>{{i.view_count}}</td>
        <td>{{i.video_count}}</td>
        <td>{{i.is_commerce}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>